// Primary buttons across the interface
.btn-primary:not(.search-button),
.btn-default#create-topic,
button.btn-primary.create,
#login-button,
#discourse-modal.create-account .btn-primary,
.discourse-no-touch .btn-primary:hover {
  @include primary-button;
  align-items: center;
}

// Primary buttons on the header
.d-header .panel.clearfix .header-buttons .sign-up-button,
.d-header .panel.clearfix .header-buttons .login-button,
#new-create-topic {
  @include primary-button;
}

// Adjust user icon on auth buttons
.d-header .panel.clearfix .header-buttons .login-button {
  display: flex;
  gap: 5px;
}

// Move auth buttons to the right of the header
.anon .d-header .panel.clearfix {
  display: flex;
  flex-direction: row-reverse;
}
