.btn-primary:not(.search-button),
.btn-default#create-topic,
button.btn-primary.create,
#login-button,
#discourse-modal.create-account .btn-primary,
.discourse-no-touch .btn-primary:hover {
  @include primary-button;
  align-items: center;
}
.d-header {
  .panel.clearfix {
    display: flex;
    flex-direction: row-reverse;
    .header-buttons {
      .sign-up-button,
      .login-button {
        display: flex;
        gap: 0.5em;
        @include primary-button;
        .d-icon {
        }
      }
    }
  }
}
