@mixin primary-button() {
  background: $button-bg_color;
  color: $button_text_color;
  border-radius: $button-radius;
  border:  $button_border;
  padding: $button_padding;
  font-size: $button_font-size;
  font-weight: $button_font_weight;
  max-height: 3rem;
  span {
    font-family: var(--heading-font-family);
  }
  .d-icon {
    color: $button_text_color !important;
  }
  &:hover,
  &:focus {
    background: $button_bg_hover_color;
    color: $button_text_hover_color;
    border: $button_border_hover;
    .d-icon {
      color: $button_text_hover_color !important;
    }
  }
}
